@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?egyup4');
  src:  url('fonts/icomoon.eot?egyup4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?egyup4') format('truetype'),
    url('fonts/icomoon.woff?egyup4') format('woff'),
    url('fonts/icomoon.svg?egyup4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-angle-up:before {
  content: "\e905";
}
.fa-pinterest:before {
  content: "\e900";
}
.fa-facebook:before {
  content: "\e901";
}
.fa-search:before {
  content: "\e902";
}
.fa-twitter:before {
  content: "\e903";
}
